html, main {
  height: 100%;
  font-family: 'Outfit', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background-color: #1A2A33;
}

.square-container {
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 50px (1fr)[3] 50px;
      grid-template-rows: 50px repeat(3, 1fr) 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.turn-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #1F3641;
  color: #A8BFC9;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0px 3px .5px #101d23;
          box-shadow: 0px 3px .5px #101d23;
}

.turn-button p {
  margin-right: .5em;
}

.x-icon,
.o-icon {
  height: 50%;
  width: 30%;
}

.x-icon {
  display: block;
}

.o-icon {
  display: none;
}

.replay-button {
  height: 100%;
  width: 50%;
  border-radius: 5px;
  border: none;
  background-color: #A8BFC9;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-box-shadow: 0px 3px .5px #7a8488;
          box-shadow: 0px 3px .5px #7a8488;
}

.replay-button svg {
  pointer-events: none;
}

.square {
  background-color: #1F3641;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px .5px #101d23;
          box-shadow: 0px 3px .5px #101d23;
}

.o-square {
  background-color: #F2B137;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px .5px #101d23;
          box-shadow: 0px 3px .5px #101d23;
}

.x-square {
  background-color: #31C3BD;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px .5px #101d23;
          box-shadow: 0px 3px .5px #101d23;
}

.player-one-score-cont,
.ties-score-cont,
.player-two-score-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 5px;
}

.player-one-score-cont {
  background-color: #31C3BD;
  -webkit-box-shadow: 0px 3px .5px #188884;
          box-shadow: 0px 3px .5px #188884;
}

.ties-score-cont {
  background-color: #A8BFC9;
  -webkit-box-shadow: 0px 3px .5px #7a8488;
          box-shadow: 0px 3px .5px #7a8488;
}

.player-two-score-cont {
  background-color: #F2B137;
  -webkit-box-shadow: 0px 3px .5px #b9821b;
          box-shadow: 0px 3px .5px #b9821b;
}

.score-label {
  font-weight: 200;
  margin: .3em 0 0 0;
}

.player-one-score,
.ties-score,
.player-two-score {
  font-weight: 600;
  margin: 0 0 .3em 0;
}

.game-over-overlay,
.restart-game-overlay {
  position: absolute;
  height: 20%;
  width: 100%;
  background-color: #1F3641;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em 0 1em 0;
  z-index: 200;
}

.game-over-heading {
  margin: 0;
}

.game-over-subhead {
  color: #A8BFC9;
  margin: 0;
  font-size: 12px;
}

.button-container {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.quit-button {
  height: 40px;
  width: 38%;
  background-color: #A8BFC9;
  border: none;
  border-radius: 5px;
}

.next-round-button {
  height: 40px;
  width: 58%;
  background-color: #F2B137;
  border: none;
  border-radius: 5px;
}

.shadow {
  display: none;
  background-color: #000000;
  opacity: .5;
  position: absolute;
  height: 100%;
  width: 100%;
}

.restart-game-heading {
  color: #A8BFC9;
}

.restart-button {
  height: 40px;
  width: 50%;
  background-color: #F2B137;
  border: none;
  border-radius: 5px;
  margin: 0 .5em 0 .5em;
}

.cancel-button {
  height: 40px;
  width: 50%;
  background-color: #A8BFC9;
  border: none;
  border-radius: 5px;
  margin: 0 .5em 0 .5em;
}

.restart-button-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
/*# sourceMappingURL=styles.css.map */